node_modules/
*/static_src/node_modules/

# Python
__pycache__/
*.py[cod]
*.pyo

# Django
*.sqlite3
db.sqlite3

# Env
env/
venv/
*.env

# IDEs and editors
.vscode/
.idea/

# Static and media files (optional, if you don't want to track them)
staticfiles/
media/

# Byte-compiled / optimized / DLL files
*.pyc

.qodo
