{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pit Portal</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link rel="icon" type="image/png" href="{% static 'pages/images/FSC_Athletics_SnakeHead_Diamond_RGB.png' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
        <!--fontawesome stuff-->
        <script src="https://kit.fontawesome.com/ab1f482029.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <nav class="navbar">
                <a href="/" class="name" style="display: flex; align-items: center;">
                    <img src="{% static 'pages/images/FSC_Athletics_SnakeHead_Diamond_RGB.png' %}" 
                        alt="Logo" 
                        style="height:60px; margin-right:10px;">
                    <div style="text-decoration: underline;">Pit Portal</div>
                </a>
                <ul>
                    <li><a href="">Events</a></li>
                    <li><a href="">Social</a></li>
                    <li><a href="/stats">Stats</a></li>
                    <li><a href="/leaderboard">Leaderboard</a></li>
                    <li><a href="/profile">Your Profile</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="/logout">Logout</a></li>
                    {% else %}
                        <li><a href="/login">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block content %}
        <main>
            <div class="card">
                <h1>Welcome to the Pit Portal!</h1>
                <h3>Our mission goal for this website is to supply working features to the existing snake pit facility that is on campus: Event Board, Student Socials, and Game Stats</h3>
            </div>
            <div class="card-container">
                <div class="card">
                    <h2>Events Page  <i class="fa-solid fa-calendar-days"></i></h2>
                    <h3>**Decription Here**</h3>
                </div>
                <div class="card">
                    <h2>Socials Page  <i class="fa-solid fa-comment"></i></h2>
                    <h3>**Decription Here**</h3>
                </div>
                <div class="card">
                    <h2>Stats Page  <i class="fa-solid fa-chart-simple"></i></h2>
                    <h3>**Decription Here**</h3>
                </div>
            </div>
        </main> 
        {% endblock %}
        <footer class="footer">
            &copy; 2025 Pit Portal. All rights reserved.
        </footer> 
    </body>
</html>
